mygame.zip
mygame2.zip
__pycache__/temp.cpython-38.pyc
modules/__pycache__/temp.cpython-38.pyc
VK4Tehtävä/fireball.png
VK4Tehtävä/level.jpg
VK4Tehtävä/mario.png
VK4Tehtävä/mygame.py
VK5Tehtävä/boom.wav
VK5Tehtävä/DLL-error.png
VK5Tehtävä/fireball.png
VK5Tehtävä/house.mp3
VK5Tehtävä/level.jpg
VK5Tehtävä/mario.png
VK5Tehtävä/marioAlpha.png
VK5Tehtävä/mygame.py
VK5Tehtävä/mygame2.py
VK5Tehtävä/pointball.png
